<!-- Start App -->
<div class="container-fluid app">
    <div class="row row-title">
        <h1>Download our App</h1>
        <h4>All listings at your fingertips</h4>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="app-version">
                v1.03 (beta)
            </div>
            <div class="app-img">
                <img alt="" src="/assets/images/miscellaneous/mobile-cut-laguna-green.png"/>
            </div>
            <div class="app-links">
                <a href="#">
                    <img alt="" src="/assets/images/miscellaneous/g-play.png" />
                </a>
                <a href="#">
                    <img alt="" src="/assets/images/miscellaneous/app-st.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End App -->