<!-- Start Front Categories -->
<div id="cabins" class="container-fluid front-categories light">
<!--    <div class="row row-title">-->
<!--        <h1>What Do You Need Today?</h1>-->
<!--        <h4>Категории кают</h4>-->
<!--    </div>-->
    <div class="row cat-items" style="padding-top: 40px;">
        <div class="listing-item">
            <a href="#" class="category-icon icon-bed"></a>
            <div class="listing-item-rating" style="background-color: #ce8483">4</div>
            <a href="#" class="listing-item-link">
                <div class="listing-item-title-centralizer">
                    <div class="listing-item-title">
                        Люкс с балконом
                        <div class="ribbon">~ ₽19383/сут.</div>
                    </div>
                </div>
                <img alt="" src="/assets/images/mtf/cabins/lux-balkon.jpg" />
            </a>
            <div class="listing-item-data">
                <a class="listing-item-address" href="#">
                    Однокомнатаная двухместная каюта, расположенная на палубе "Нева".
                </a>
                <div class="listing-item-excerpt">
                    Площадь каюты 27 кв. м с балконом(21 кв.м.без учета балкона).
                </div>
            </div>
            <div class="listing-category-name">
                <a href="#">Палуба Нева</a>
            </div>
        </div>
        <div class="listing-item">
            <a href="#" class="category-icon icon-bed"></a>
            <div class="listing-item-rating" style="background-color: #f0ad4e">4</div>
            <a href="#" class="listing-item-link">
                <div class="listing-item-title-centralizer">
                    <div class="listing-item-title">
                        Панорама Люкс с балконом
                        <div class="ribbon">~ ₽19383/сут.</div>
                    </div>
                </div>
                <img alt="" src="/assets/images/mtf/cabins/lux-panorama.jpg" />
            </a>
            <div class="listing-item-data">
                <a class="listing-item-address" href="#">
                    Однокомнатная двухместная каюта, расположенная на палубе "Волга".
                </a>
                <div class="listing-item-excerpt">
                    Площадь каюты 30 кв. м с балконом(23 кв.м.без учета балкона).
                </div>
            </div>
            <div class="listing-category-name">
                <a href="#">Палуба Волга</a>
            </div>
        </div>
        <div class="listing-item">
            <a href="#" class="category-icon icon-bed"></a>
            <div class="listing-item-rating" style="background-color: #5bc0de">2</div>
            <a href="#" class="listing-item-link">
                <div class="listing-item-title-centralizer">
                    <div class="listing-item-title">
                        1A с балконом
                        <div class="ribbon">~ ₽12558/сут.</div>
                    </div>
                </div>
                <img alt="" src="/assets/images/mtf/cabins/1a-balkon.jpg" />
            </a>
            <div class="listing-item-data">
                <a class="listing-item-address" href="#">
                    Двухместная каюта, расположенная на палубе "Нева".
                </a>
                <div class="listing-item-excerpt">
                    Площадь каюты 21 кв. м с балконом(17 кв.м.без учета балкона).
                </div>
            </div>
            <div class="listing-category-name">
                <a href="#">Палуба Нева</a>
            </div>
        </div>
        <div class="listing-item">
            <a href="#" class="category-icon icon-bed"></a>
            <div class="listing-item-rating" style="background-color: #528CE0">2</div>
            <a href="#" class="listing-item-link">
                <div class="listing-item-title-centralizer">
                    <div class="listing-item-title">
                        1Б с балконом
                        <div class="ribbon">~ ₽11375/сут.</div>
                    </div>
                </div>
                <img alt="" src="/assets/images/mtf/cabins/1a-balkon.jpg" />
            </a>
            <div class="listing-item-data">
                <a class="listing-item-address" href="#">
                    Двухместная каюта, расположенная на палубе "Волга".
                </a>
                <div class="listing-item-excerpt">
                    Площадь каюты 19 кв. м с балконом(13 кв.м.без учета балкона).
                </div>
            </div>
            <div class="listing-category-name">
                <a href="#">Палуба Волга</a>
            </div>
        </div>
        <div class="listing-item">
            <a href="#" class="category-icon icon-bed"></a>
            <div class="listing-item-rating" style="background-color: #5cb85c">2</div>
            <a href="#" class="listing-item-link">
                <div class="listing-item-title-centralizer">
                    <div class="listing-item-title">
                        1С
                        <div class="ribbon">~ ₽8645/сут.</div>
                    </div>
                </div>
                <img alt="" src="/assets/images/mtf/cabins/lux-balkon.jpg" />
            </a>
            <div class="listing-item-data">
                <a class="listing-item-address" href="#">
                    Двухместная каюта, расположенная на палубе "Москва".
                </a>
                <div class="listing-item-excerpt">
                    Площадь каюты<br> 13 кв. м.
                </div>
            </div>
            <div class="listing-category-name">
                <a href="#">Палуба Москва</a>
            </div>
        </div>
    </div>
</div>
<!-- End Front Categories -->