<!-- Start Page Content -->
<div id="contact" class="container pg-content">
    <!-- Start Contact Data -->
    <div class="col-sm-6 text-center">
        <div class="address">
            <h4>Офис на Белорусской</h4>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="data add">
                    Бутырский Вал, дом 2, 3-й этаж, офис №2.
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-at"></i>
                </div>
                <div class="data email">
                    info@mosturflot.ru
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="data phone">
                    +7 (495) 22-17-222
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="data phone">
                    с 09-00  до 19-00 (пн.-пт.)
                </div>
            </div>
        </div>
        <div class="address">
            <h4>Центральный офис</h4>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="data add">
                    Ленинградское шоссе, 59, офис 131
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-at"></i>
                </div>
                <div class="data email">
                    info@mosturflot.ru
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="data phone">
                    +7 (495) 22-17-222
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="data phone">
                    с 09-00 до 19-00 (пн.-пт.)
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Data -->
    <!--Start Contact Form -->
    <div class="col-sm-6 text-center">
        <h4>Подать заявку</h4>
        <p class="support-description">
            Наши менеджеры свяжутся с вами.
        </p>
        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success">
            <p>Your message was sent succssfully! We will be in touch as soon as possible.</p>
        </div>
        <!-- Error message -->
        <div class="alert alert-error" role="alert" id="error">
            <p>Something went wrong, verify the fields or try refreshing the page.</p>
        </div>
        <form method="post" id="contact" name="contact" class="form-horizontal contact-form">
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-12 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="name" id="name" placeholder="Имя (обязательно)" class="form-control"  required>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-12 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" id="email" placeholder="Email (обязательно)" class="form-control" required>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-12 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                        <input name="phone" id="phone" placeholder="Телефон" class="form-control">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-12 inputGroupContainer">
                    <div class="input-group">
                    <textarea name="message" id="message" class="form-control"
                              placeholder="Сообщение (обязательно)" required></textarea>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-sm-12 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                        <input name="captcha" id="captcha" placeholder="4 + 1 = ?" class="form-control" required>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group sub">
                <div class="col-sm-12">
                    <button type="submit" name="name" class="btn btn-warning submit" >ОТПРАВИТЬ</button>
                </div>
            </div>
        </form>
    </div>
    <!--End Contact Form-->
</div>
<!-- End Page Content -->