<!-- Start header (topbar) -->
<header id="home" class="header transparent no-shadow">
    <!-- Start Logo -->
    <div class="logo">
        <a href="/" class="">
            <img alt="" src="/assets/images/logo-mtf37x48.png"/>МОСТУРФЛОТ
        </a>
    </div>
    <!-- End Logo -->
    <!-- Start User Buttons -->
    <div class="user-buttons">
<!--        <a href="#" class="user-login"></a>-->
        <a href="#map" class="add-listing">Карта</a>
    </div>
    <!-- End User Buttons -->
    <!-- Start Navbar -->
    <div class="navbar navbar-inverse" role="navigation" id="slide-nav">
        <div class="container">
            <div id="slidemenu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Главная</a>
                    </li>
                    <li>
                        <a href="#deckplan">Схема</a>
                    </li>
                    <li>
                        <a href="#cabins">Каюты</a>
                    </li>
                    <li>
                        <a href="#how">Возможности</a>
                    </li>
                    <li>
                        <a href="#contact">Контакты &nbsp;&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->
</header>
<!-- End header (topbar) -->