<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="">
<title>Мостурфлот - Сценическое плавание</title>
<!-- Google Font(s) -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<!-- Bootstrap-->
<link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Awesome Icons Font -->
<link href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Listing Filter -->
<link href="/assets/lib/bootstrap-select-master/dist/css/bootstrap-select.min.css" rel="stylesheet">
<!-- Lightbox -->
<link href="/assets/lib/lightbox2-master/dist/css/lightbox.min.css" rel="stylesheet">
<!-- Map -->
<link href="/assets/lib/Leaflet-1.0.2/dist/leaflet.css" rel="stylesheet">
<!-- City Listing Icons -->
<link href="/assets/fonts/icons/css/import-icons.css" rel="stylesheet">
<!-- Main CSS -->
<link href="/assets/css/style.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/assets/lib/html5shiv-master/dist/html5shiv.min.js"></script>
<script src="/assets/lib/Respond-master/dest/respond.min.js"></script>
<![endif]-->