<!-- Start How It Works -->
<div id="how" class="container-fluid how color-bg">
    <div class="row row-title">
        <h1>Сценическое плавание</h1>
        <h4>Что это значит?</h4>
    </div>
    <div class="row how-items">
        <!-- Start How Item Col -->
        <div class="col-sm-3">
            <div class="how-item">
                <a href="#">
                    <img alt="" src="/assets/images/miscellaneous/icon-1.png" />
                    <h3 class="how-item-title">Маршрут</h3>
                    <div class="how-item-excerpt">
                        Маршрут плавания составлен по наиболее зрелищным местам Ладожских шхер.
                    </div>
                </a>
            </div>
        </div>
        <!-- End How Item Col -->
        <!-- Start How Item Col -->
        <div class="col-sm-3">
            <div class="how-item">
                <a href="#">
                    <img alt="" src="/assets/images/miscellaneous/icon-2.png" />
                    <h3 class="how-item-title">Комфорт</h3>
                    <div class="how-item-excerpt">
                        С Солнечной палубы теплохода вы сможете наблюдать уникальные памятники природы.
                    </div>
                </a>
            </div>
        </div>
        <!-- End How Item Col -->
        <!-- Start How Item Col -->
        <div class="col-sm-3">
            <div class="how-item">
                <a href="#">
                    <img alt="" src="/assets/images/mtf/photo-video-solid.svg" />
                    <h3 class="how-item-title">На память</h3>
                    <div class="how-item-excerpt">
                        Вы сделаете прекрасные снимки Карельской природы и сохранити память о путешествии на долгие годы.
                    </div>
                </a>
            </div>
        </div>
        <!-- End How Item Col -->
        <!-- Start How Item Col -->
        <div class="col-sm-3">
            <div class="how-item">
                <a href="#">
                    <img alt="" src="/assets/images/miscellaneous/icon-4.png" />
                    <h3 class="how-item-title">Уникальность</h3>
                    <div class="how-item-excerpt">
                        Только два круиза в этом сезоне совершат сценическое плавание по Ладожским щхерам.
                    </div>
                </a>
            </div>
        </div>
        <!-- End How Item Col -->
    </div>
</div>
<!-- End How It Works -->