<!-- Start Map -->
<div id="ostrova" class="container-fluid no-padding app">
    <div class="row row-title">
        <h1>Карта маршрута</h1>
        <h4>Сценическое плавание по Ладожским шхерам</h4>
    </div>
    <div class="row">
        <div class="col-sm-12 no-padding">
<!--            <div id="map-shkhery" style="width: 100%; height: 600px;"></div>-->
            <!-- Start Map Listing -->
            <div class="container-fluid map-listing">
                <div id="map"></div>
                <div class="mapList"></div>
            </div>
            <!-- End Map Listing -->
            <!-- Start Listings Counter and Filter -->
            <div class="container-fluid listing-block">
                <div class="row listing-results">
                    <div class="results-count">
                        <span class="counter">Ладожские</span> шхеры
                    </div>
                </div>
            </div>
            <!-- End Listings Counter and Filter -->
        </div>
    </div>
</div>
<!-- End Map -->
