<!-- Vimeo Hero Video Background -->
<script>
    var vm_video = "141274767";
</script>
<!-- jQuery -->
<script src="/assets/lib/jquery.min.js"></script>
<script src="/assets/lib/jquery-ui.min.js"></script>
<!-- Bootstrap -->
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- Lightbox -->
<script src="/assets/lib/lightbox2-master/dist/js/lightbox.min.js"></script>
<!-- Typing Effect -->
<script src="/assets/lib/typed.js-master/dist/typed.min.js"></script>
<!-- Dragging Scroll to Listing Gallery -->
<script src="/assets/lib/jquery.dragscroll.js"></script>
<!-- Horizontal Mousewheel Scroll to Listing Gallery -->
<script src="/assets/lib/jquery-mousewheel-master/jquery.mousewheel.min.js"></script>
<!-- Listing Filter -->
<script src="/assets/lib/bootstrap-select-master/js/bootstrap-select.js"></script>
<!-- To Self Hosted Hero Video -->
<script src="/assets/lib/bideo.js-master/bideo.js"></script>
<!-- Map -->
<script src="/assets/lib/Leaflet-1.0.2/build/deps.js"></script>
<script src="/assets/lib/Leaflet-1.0.2/debug/leaflet-include.js"></script>
<!--<script src="/assets/js/map-markers-samples/sampleMapSingleListingMarker.js"></script>-->
<script src="assets/js/map-markers-samples/sampleMapListingMarkers.js"></script>
<script src="/assets/js/main.js"></script>
<!--<script src="/assets/js/map-shkhery.js"></script>-->