<!-- Start Hero Header -->
<div class="container-fluid hero-header transparent h-slideshow">
    <!-- Start Header Centralizer -->
    <div class="header-centralizer">
        <div class="content-centralized">
            <div class="site-title">
                <h1>Сценическое плавание</h1>
                <span class="site-subtitle">Теплоход Класса Люкс "Александр Грин"</span>
            </div>
            <!-- Start Hero Search -->
<!--            <div class="hero-search">-->
<!--                <form>-->
<!--                    <fieldset>-->
<!--                        <input type="text" class="form-control" data-placeholder="Explore and Enjoy...">-->
<!--                        <span class="typingEffect" data-title="Explore and Enjoy//Find New Places//Discover Tasty Goodies//Do Memorable Check-ins//Go Beyond Horizon"></span>-->
<!--                    </fieldset>-->
<!--                    &lt;!&ndash; Start Search Cities &ndash;&gt;-->
<!--                    <div class="search-cities-toggle"></div>-->
<!--                    <div class="search-cities">-->
<!--                        <div class="cities-list">-->
<!--                            <a href="#" style="background-image:url('/assets/images/cities/thumbs/1.jpg')" data-city-id="1"><span>Boston</span></a>-->
<!--                            <a href="#" style="background-image:url('/assets/images/cities/thumbs/2.jpg')" data-city-id="2"><span>Chicago</span></a>-->
<!--                            <a href="#" style="background-image:url('/assets/images/cities/thumbs/3.jpg')" data-city-id="0" class="current"><span>Miami</span></a>-->
<!--                            <a href="#" style="background-image:url('/assets/images/cities/thumbs/4.jpg')" data-city-id="3"><span>New Orleans</span></a>-->
<!--                            <a href="#" style="background-image:url('/assets/images/cities/thumbs/5.jpg')" data-city-id="4" class="go-more-cities"><span>More Cities</span></a>-->
<!--                            <input class="chosen-city" type="hidden" name="city" value="0">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Search Cities &ndash;&gt;-->
<!--                    <div class="search-submit">-->
<!--                        <input type="submit" value=" ">-->
<!--                        <i class="hero-search-icon"></i>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
            <!-- End Hero Search -->
            <!-- Start Search Categories -->
<!--            <div class="search-categories">-->
<!--                <div class="categories">-->
<!--                    <a class="icon-platter child" href="#">Restaurant</a>-->
<!--                    <a class="icon-teacup child" href="#">Café</a>-->
<!--                    <a class="icon-moon" href="#">Nightlife</a>-->
<!--                    <a class="icon-landscape" href="#">Outdoor</a>-->
<!--                    <a class="icon-home" href="#">Lodging</a>-->
<!--                    <a class="icon-car child" href="#">Car Dealer</a>-->
<!--                    <a class="icon-hanger child" href="#">Clothing</a>-->
<!--                    <a class="icon-bench-press child" href="#">Gim</a>-->
<!--                    <a class="icon-saw child" href="#">Home Service</a>-->
<!--                    <a class="icon-laundry child" href="#">Laundry</a>-->
<!--                    <a class="icon-bag-dollar child" href="#">Bank</a>-->
<!--                    <a class="icon-palette child" href="#">Art Gallery</a>-->
<!--                    <a class="icon-library child" href="#">Bookstore</a>-->
<!--                    <a class="icon-chair child" href="#">Furniture</a>-->
<!--                    <a class="icon-receipt" href="#">Coupons</a>-->
<!--                    <a class="icon-lan2" href="#">Online Order</a>-->
<!--                    <a class="icon-paw" href="#">Pets Friendly</a>-->
<!--                    <a class="icon-wheelchair" href="#">Accessible</a>-->
<!--                    <a class="icon-wifi" href="#">Wi-Fi</a>-->
<!--                    <a class="icon-city" href="#">More Options</a>-->
<!--                </div>-->
<!--            </div>-->
            <!-- End Search Categories -->
            <!-- Start Feat Posts -->
            <div class="feat-posts">
                <div class="toggle"></div>
                <div class="helper">
                    <div class="feat-posts-title">
                        Расписание
                    </div>
                    <div class="feat-posts-list">
                        <div class="feat-post">
                            <a href="#">
                                <div class="feat-post-icon icon-landscape"></div>
                                <div class="ribbon">Цена от 66500</div>
                                <div class="listing-item-rating">7д.</div>
                                <div class="feat-post-pic">
                                    <div style="background-image:url('/assets/images/mtf/grin80x80.jpg')"></div>
                                </div>
                                <div class="feat-post-data">
                                    <div class="feat-post-title">
                                        Москва - о. Валаам - Сортавала - о.Хонкасало - о.Карнетсаари - о.Орьятсаари - о.Тулолансаари - о.Карпансаари - о.Мякисало - о.Пеллотсаари - о.Келло - С.-Петербург
                                    </div>
                                    <div class="feat-post-category">
                                        т/х "Александр Грин"
                                    </div>
                                    <div class="feat-post-city">
                                        13 Июня
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="feat-post">
                            <a href="#">
                                <div class="feat-post-icon icon-landscape"></div>
                                <div class="ribbon">Цена от 66500</div>
                                <div class="listing-item-rating">8д.</div>
                                <div class="feat-post-pic">
                                    <div style="background-image:url('/assets/images/mtf/grin80x80.jpg')"></div>
                                </div>
                                <div class="feat-post-data">
                                    <div class="feat-post-title">
                                        С.-Петербург - о.Ореховый - о. Сухо - Старая Ладога - Лодейное поле - Мандроги - о.Кижи - Москва
                                    </div>
                                    <div class="feat-post-category">
                                        т/х "Александр Грин"
                                    </div>
                                    <div class="feat-post-city">
                                        19 Июня
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="feat-post">
                            <a href="#">
                                <div class="feat-post-icon icon-landscape"></div>
                                <div class="ribbon">Цена от 66500</div>
                                <div class="listing-item-rating">7д.</div>
                                <div class="feat-post-pic">
                                    <div style="background-image:url('/assets/images/mtf/grin80x80.jpg')"></div>
                                </div>
                                <div class="feat-post-data">
                                    <div class="feat-post-title">
                                        Москва - о. Валаам - Сортавала - о.Хонкасало - о.Карнетсаари - о.Орьятсаари - о.Тулолансаари - о.Карпансаари - о.Мякисало - о.Пеллотсаари - о.Келло - С.-Петербург
                                    </div>
                                    <div class="feat-post-category">
                                        т/х "Александр Грин"
                                    </div>
                                    <div class="feat-post-city">
                                        27 Июня
                                    </div>
                                </div>
                            </a>
                        </div>
<!--                        <a href="#" class="more-map-listing icon-plus" title="More Listings" data-toggle="tooltip" data-placement="top"></a>-->
                    </div>
                </div>
            </div>
            <!-- End Feat Posts -->
        </div>
    </div>
</div>
<!-- Ends Hero Header -->